<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cashbook"
        tools:targetApi="31">
        <activity
            android:name=".bills_and_transactions.TodayTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".bills_and_transactions.TodayPurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".bills_and_transactions.TodaySalesActivity"
            android:exported="false" />
        <activity
            android:name=".sales_bill.SalesBillPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".reports.TransactionReportActivity"
            android:exported="false" />
        <activity
            android:name=".reports.PurchaseReportActivity"
            android:exported="false" />
        <activity
            android:name=".reports.SalesReportActivity"
            android:exported="false" />
        <activity
            android:name=".reports.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.CreditCardsActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.LoansActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.CardPaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.CapitalActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.AddCreditCardActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.AddLoanActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.AddAssetActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.AssetsActivity"
            android:exported="false" />
        <activity
            android:name=".assests_and_liabilities.AssetsLiabilitiesActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ledger.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.expense.ExpenseLedgerActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.bank.BankLedgerActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.cash.CashLedgerActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.AddTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".purchase.PurchaseBillActivity"
            android:exported="false" />
        <activity
            android:name=".sales_bill.SalesBillActivity"
            android:exported="false" />
        <activity
            android:name=".products.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".products.ProductPageActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.suppliers.SupplierLedgerActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.suppliers.SupplierPageActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.customers.CustomerLedgerActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.customers.CustomerPageActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.person.AddPersonActivity"
            android:exported="false" />
        <activity
            android:name=".ledger.LedgerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.Dashboard"
            android:exported="false" />
        <activity
            android:name=".logIn.LogIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>